@light-color:  #716f70;
@light-primary: #1e80ff;
@light-bg: #f2f3f5;
@light-sec-bg: #fff;

@dark-color: #e5eaf3;
@dark-primary: #3a8cff;
@dark-bg: #18181c;
@dark-sec-bg: #232324;

:root {
    /* 主题文字颜色 */
    --theme-color: @light-color;
    /* 主题文字强调色 */
    --theme-primary-color: @light-primary;
    /* 主题背景颜色 */
    --theme-background: @light-bg;
    /* 次要背景色 */
    --theme-sec-background: @light-sec-bg;
}
.dark {
    /* 主题文字颜色 */
    --theme-color: @dark-color;
    /* 主题文字强调色 */
    --theme-primary-color: @dark-primary;
    /* 主题背景颜色 */
    --theme-background: @dark-bg;
    /* 次要背景色 */
    --theme-sec-background: @dark-sec-bg;
}
